.banner-container{
    a{
        text-decoration: none;
        color: black;
    }
    min-width: 100vw;
    max-width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(white 50%, transparent);
    div{
        font-size: 3em;
        padding-top: 20px;
    }
}