.submit-form {
  display: flex;
  width: auto;
  min-width: 100%;

  div {
    width: 100%;

    form {
      width: 100%;
      padding: 10px;
    }
  }

  input {
    height: 20px;
    width: 100%;
    background-color: #ff6347;
    border: solid 2px black;
  }
  input:focus {
    outline: none !important;
    border: 3px solid black;
  }

  button {
    width: 200px !important;
    height: 30px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  input[type="file"]::file-selector-button {
    height: 20px;
    width: 150px;
    background-color: #ff6347;
    border: solid 1px black;
    border-right: solid 3px black;
  }
  input[type="file"]::file-selector-button:hover {
    cursor: pointer;
  }

  textarea {
    height: 200px !important;
    background-color: #ff6347;
    border: solid 2px black;
    width: 100% !important;
  }
  textarea:focus {
    outline: none !important;
    border: 3px solid black;
  }
}
