.title-box {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 10px;

	.title-intro {
		margin-left: 20px;
		margin-top: 20px;
		position: absolute;
	}

	.title-box-background {
		filter: blur(2vw);
		-webkit-filter: blur(2vw);
		width: 100%;
		height: 100%;
		position: absolute;
		// background: rgb(255, 19, 30);
		// background: radial-gradient(circle, rgba(255, 19, 30, 1) 75%, rgba(255, 255, 255, 0) 100%);
	}

	.lounge-intro {
		background-color: #373fff;
		border-radius: 50px;
	}

	.lounge-text {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg); /* IE 9 */
		-moz-transform: rotate(90deg); /* Firefox */
		-webkit-transform: rotate(90deg); /* Safari and Chrome */
		-o-transform: rotate(90deg); /* Opera */
		right: 10px;
		top: 25px;
	}
}

.trace {
	width: 26.2vw;
	height: 26.2vh;
	position: fixed;
	margin-left: -1.5vw;
}

.trace1 {
	.title-box-background {
		background-color: #ffe522;
		border-radius: 50px;
	}
}
.trace2 {
	.title-box-background {
		background-color: #fe6347;
		border-radius: 50px;
	}
}

.trace3 {
	.title-box-background {
		background-color: #89fa94;
		border-radius: 50px;
	}
	.title-intro {
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg); /* IE 9 */
		-moz-transform: rotate(-90deg); /* Firefox */
		-webkit-transform: rotate(-90deg); /* Safari and Chrome */
		-o-transform: rotate(-90deg); /* Opera */

		top: 15px;
		left: -20px;
	}
}
.trace4 {
	.title-box-background {
		background-color: #d80ffc;
		border-radius: 50px;
	}
	.title-intro {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg); /* IE 9 */
		-moz-transform: rotate(90deg); /* Firefox */
		-webkit-transform: rotate(90deg); /* Safari and Chrome */
		-o-transform: rotate(90deg); /* Opera */

		right: 10px;
		top: 25px;
	}
}

.trace5 {
	.title-box-background {
		background-color: #269ca0;
		border-radius: 50px;
	}
	.title-intro {
		rotate: -90deg;
		left: 10px;
		top: 25px;
	}
}

.trace6 {
	.title-box-background {
		background-color: #95f11c;
		border-radius: 50px;
	}
	.title-intro {
		// rotate: -90deg;
		// left: 10px;
		// top: 25px;
	}
}

.trace7 {
	.title-box-background {
		background-color: #1fc075;
		border-radius: 50px;
	}
}

.lay1 {
	left: 0;
	bottom: 25vh;
}
.lay2 {
	left: 0;
	bottom: 0;
}

// .lay3 {
// 	left: 25vw;
// 	bottom: 75vh;
// }
.lay3 {
	left: 25vw;
	bottom: 50vh;
}
.lay4 {
	left: 25vw;
	bottom: 25vh;
}
.lay5 {
	left: 25vw;
	bottom: 0;
}

// .lay7 {
// 	left: 50vw;
// 	bottom: 75vh;
// }

.lay6 {
	left: 50vw;
	bottom: 50vh;
}
.lay7 {
	left: 50vw;
	bottom: 25vh;
}

.lay8 {
	left: 50vw;
	bottom: 0vh;
}

// .lay11 {
// 	left: 75vw;
// 	bottom: 75vh;
// }
.lay9 {
	left: 75vw;
	bottom: 50vh;
}

.lay10 {
	left: 75vw;
	bottom: 0vh;
}

.lay11 {
	left: 0vw;
	bottom: 50vh;
}

.lay12 {
	left: 75vw;
	bottom: 25vh;
}

.title-box-enter {
	// margin-left: -1.5vw;
	width: 26.2vw;
	height: 26vh;
	position: relative;
	.title-intro {
		margin-left: 50px;
		margin-top: 20px;
		position: absolute;
	}

	.enter-box-background {
		filter: blur(2vw);
		-webkit-filter: blur(2vw);
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		flex-wrap: wrap;

		.back-one {
			width: 40%;
			height: 60%;
			background: rgb(29, 58, 121);
			background: linear-gradient(0deg, rgba(29, 58, 121, 1) 0%, rgba(100, 197, 219, 1) 68%);
			border-radius: 50px;
		}
		.back-two {
			width: 60%;
			height: 60%;
			background-color: pink;
			background: rgb(171, 99, 79);
			background: linear-gradient(0deg, rgb(180, 73, 43) 0%, rgb(245, 115, 83) 100%);
			border-radius: 50px;
		}
		.back-three {
			width: 60%;
			height: 40%;
			background-color: #d656df;
			border-radius: 50px;
		}
		.back-four {
			width: 30%;
			height: 40%;
			background-color: #91fc7c;
			border-radius: 50px;
		}
	}
}

@media screen and (max-width: 600px) {
	.home-links-container {
		display: flex;
		flex-wrap: wrap;
		padding-top: 18vh;
	}
	.trace {
		width: 51vw;
		position: static;
		margin-bottom: -1vh;
	}
	.title-box-enter {
		width: 51vw;
		height: 26vh;
		margin-bottom: -1vh;

		position: static;

		.enter-box-background {
			width: 51vw;
			height: 26vh;
			filter: blur(3.5vh);
			-webkit-filter: blur(3.5vh);
		}
	}
	.title-box {
		.title-box-background {
			filter: blur(3.5vh);
			-webkit-filter: blur(3.5vh);
		}
	}

	.lay1 {
		left: 0;
		bottom: 33vh;
	}
	.lay2 {
		left: 0;
		bottom: 0;
	}

	.lay3 {
		left: 25vw;
		bottom: 50vh;
	}
	.lay4 {
		left: 25vw;
		bottom: 25vh;
	}
	.lay5 {
		left: 25vw;
		bottom: 0;
	}

	.lay6 {
		left: 50vw;
		bottom: 50vh;
	}
	.lay7 {
		left: 50vw;
		bottom: 25vh;
	}

	.lay8 {
		left: 50vw;
		bottom: 0vh;
	}

	.lay9 {
		left: 75vw;
		bottom: 50vh;
	}

	.lay10 {
		left: 75vw;
		bottom: 0vh;
	}

	.lay11 {
		left: 0vw;
		bottom: 50vh;
	}

	.lay12 {
		left: 75vw;
		bottom: 25vh;
	}
}
