@font-face {
  font-family: miniature;
  src: url(../fonts/miniature.otf);
}

.visionary-wrapper {
  width: auto;
  min-width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgba(255, 240, 96, 1);

  height: auto;
  min-height: 100vh;

  .title-visionary {
    text-align: center;
    width: 100%;
    height: 100px;
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 0) 100%);
    h1 {
      margin-top: 30px;
    }
  }
  .visionary-content {
    text-align: center;
    margin-top: 40px;

    h2 {
      margin: 20px;
      font-family: miniature, sans-serif;
      font-weight: normal;
    }
  }
}
