@import "./exemple";
@import "./titleTrace";
@import "./home";
@import "./lounge";
@import "./visionary";
@import "./vision";
@import "./chatroom";
@import "./support";
@import "./newchat";
@import "./singleArticle";
@import "./singlePageTrace";
@import "./banner";
@import "./contribution";
@import "./submitform";
@import '~video-react/styles/scss/video-react'; 
@import "./slideshow";
@import "./singleComment";
@import "./chat";
@import "./answerChat";
@import "./labyrinth";


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    line-height: 1.8;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

html {
    position: relative;
}





a {
    text-decoration: none;
    color: black;

}

audio{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    }