*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
}

@import "./exemple";
@import "./titleTrace";
@import "./home";
@import "./lounge";
@import "./visionary";
@import "./vision";
@import "./chatroom";
@import "./support";
@import "./newchat";
@import "./singleArticle";
@import "./singlePageTrace";
@import "./banner";
@import "./contribution";
@import "./submitform";
@import '~video-react/styles/scss/video-react'; 
@import "./slideshow";

html, body {
    height: 100%;
    line-height: 1.8;
    font-family: sans-serif;
  }

html {
    position: relative;
}

a {
    text-decoration: none;
}

audio{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    }